.div-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
}
.font-60 {
  font-size: 60px !important;
  color: grey;
}
.footer {
  height: 50px;
  margin: 0 -30px;
  padding: 10px 30px;
  background: white;
  align-items: center;
  display: grid;
}
.ui.secondary.menu .active.item {

  /* border-bottom: 1px solid; */
  border-radius: 0!important;
}
.custom-select {
  background: #f8f9fa !important;
  border: none!important;
  min-width: 80px !important;
}
.normal-table{
  width: 100%;
}
.normal-table thead{
  background: white;
  padding: 15px 20px;
}
.table-header{
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}
.table-body{
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin:8px 0;
  text-align: initial;
}
.table-boday-title{
  font-size: 16px;
  color: grey;
}
.action-button{
  min-width: 100px;
}
.v-center{
  display: grid;
  align-items: center;
}
.nav-button{
  min-width: 145px;
}
.setting{
  background: white;
  border-radius: 5px;
  padding: 20px;
}
.no-radius{
  border-radius: 0!important;
}
.drop-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width:100%;
  height: 100px;
  border-radius: 5px;
  border: 2px dashed grey;
  cursor: pointer;
}
.drop-message {
  text-align: center;
  color: grey;
  font-family: Arial;
  font-size: 16px;
}
.text-editor{
  max-width: inherit!important;
  width: 100%;
  border-radius: 5px;
  height: 220px;
}
.quill{
  height: 200px;
  /* margin-bottom: 25px; */
}
.table-text{
  font-size: 14px;
  color:grey;
}
.ui.secondary.menu{
  /* overflow: auto; */
}
.question-item {
  border-radius: 8px;
  padding: 12px;
  background: #e0e1e2;
  margin-bottom: 10px;
}

.ql-snow{
  background: white;
}
.question-remove{
  position: absolute;
  right: 33px;
}
.question-remove i{
 font-size: 20px;
}
.question-remove-ar {
  position: absolute;
  left: 35px;
}
.question-remove-ar i{
   font-size: 20px;
}
.signup-title{
  font-size: 40px;
}
.mg-auto{
  margin: auto;
}
.login-link-text{
  font-size: 18px;
}
.uk-margin a{
  text-decoration: underline!important;
}
.auth-button{
  min-width: 110px;
}
footer{
  position: absolute;
  width: 100%;
  bottom: 0px;

}
.pb-55{
padding-bottom: 55px;
}
.d-v-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-h-center{
  display: flex;
  align-items: center;
}
.d-flex-only{
  display: flex;
}
.v-center{
  display: grid;
  align-items: center;
}
.custom-button {
      cursor: pointer;
      display: inline-block;
      /* min-height: 1em; */
      outline: 0;
      border: none;
      vertical-align: baseline;
      background: #e0e1e2 none;
      color: rgba(0, 0, 0, .6);
      font-family: Lato,
      'Helvetica Neue',
      Arial,
      Helvetica,
      sans-serif;
      padding: 5px 20px;
      text-transform: none;
      text-shadow: none;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      border-radius: .28571429rem;
      box-shadow: 0 0 0 1px transparent inset,
      0 0 0 0 rgba(34, 36, 38, .15) inset;
      -webkit-user-select: none;
      -webkit-tap-highlight-color: transparent;
      margin: 0 2px;
      font-size: 15px;
}
.custom-button:hover {
  cursor: pointer;
  display: inline-block;
  /* min-height: 1em; */
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: gray;
  color: white;
  font-family: Lato,
    'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
  padding: 5px 20px;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
      box-shadow: 0 0 0 1px transparent inset,
      0 0 0 0 rgba(34, 36, 38, .15) inset;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0 2px;
  font-size: 15px;
}
.language-button{
      cursor: pointer;
      display: inline-block;
      outline: 0;
      border: none;
      vertical-align: baseline;
      background: #e0e1e2 none;
      color: rgba(0, 0, 0, .6);
      font-family: Lato,
      'Helvetica Neue',
      Arial,
      Helvetica,
      sans-serif;
      padding: 5px 20px;
      text-transform: none;
      text-shadow: none;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      border-radius: .28571429rem;
      box-shadow: 0 0 0 1px transparent inset,
      0 0 0 0 rgba(34, 36, 38, .15) inset;
      -webkit-user-select: none;
      user-select: none;
      will-change: '';
      -webkit-tap-highlight-color: transparent;
      font-size: 14px;
      width: 100%;
}
.m-10{
  margin: 15px 0;
}
.h-center{
  display: flex;
  justify-content: center;
}
.normal-button {
  margin-left: auto;
  margin-right: 20px;
  background: #e1e1e1;
  min-width: 100px;
}

.confirm-button {
  margin-left: auto;
  background: grey;
  color: white;
  min-width: 100px;
}